



<div class="card" style="margin-top: 20px;" >

  <div class="container" >
    <h3>{{'contactForm' |translate}}</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="fname"> {{'name' |translate}}</label>
    <input type="text" id="fname"   formControlName="username" name="firstname" placeholder="...">

    <label for="lname">Mail</label>
    <input type="text" id="mail" formControlName="mail" name="mail" placeholder="...">

    <label for="country">{{'country' |translate}}</label>
    <select id="country"  name="country" formControlName="country">
      <option *ngFor="let item of countryList" [value]="item.id">{{item.name}}</option>
    </select>

    <label for="subject">{{'subject' |translate}}</label>
    <textarea formControlName="subject" id="subject" name="subject" placeholder="..." style="height:70px"></textarea>

    <input type="submit" value="{{'submit' |translate}}">
  </form>
</div>
</div>