<div class="cont">
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="register()">
      <h1>{{'register' |translate}}</h1>
      <input
        type="text"
        class="user"
        formControlName="username"
        placeholder="{{'name' |translate}}"
      />
        <div *ngIf="validationErrorExists();" class="invalid-feedback d-block" style="color:red;">
          <div *ngIf="hasError('username', 'required')">name is required</div>
          <div *ngIf="hasError('username', 'minlength')"> must be at least 2 letters</div>

       </div>
     

      <input
        type="text"
        class="user"
        formControlName="email"
        placeholder="e-mail"
      />
      <div *ngIf="validationErrorExists();" class="invalid-feedback d-block" style="color:red;">
        <div *ngIf="hasError('email', 'required')">mail is required</div>
        <div *ngIf="hasError('email', 'maxLength')"> must be at 250 char</div>
        <div *ngIf="hasError('email', 'pattern')"> must be email</div>

     </div>
   
    

      <input
        type="password"
        class="user"
        formControlName="password"
        placeholder="{{'password' |translate}}"
      />
      <div *ngIf="validationErrorExists();" class="invalid-feedback d-block" style="color:red;">
        <div *ngIf="hasError('password', 'required')">password is required</div>

     </div>
      <div
        class="invalid-feedback d-block"
        *ngIf="form.get('password').hasError('passwordStrength')"
      >
        {{ form.get("password").errors["passwordStrength"] }}
      </div>

      <button  class="login">{{'register' |translate}}</button>
    </form>
  </div>

  <h2></h2>
</div>
