
  
  a, a:visited{
    cursor:pointer;
    display:block;
    color:#fff;
    text-decoration:none;
  }
  
  footer{
    position: relative;
    display: block;
    background:#3598dc;
    padding: 20px 5% 20px 5%;
    margin-top: 100px;
    border-radius: 5px;
  }
  .mail{
    display:block;
    margin: 0 auto;
  }
  .mail h3{
    font-family: helvetica;
    font-size:28px;
    margin:0; 
    text-align:left;
    padding:0;
    color:white;
    letter-spacing:1px;
  }
  .mail p{
    font-family: helvetica;
    font-size:12px;
    color:white;
  }
  .mail input{
    padding:10px;
    width: 200px;
    font-family:helvetica;
    font-size:14px;
    border:0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline:0;
  }
  
  .mail button{
    padding:10px;
    border:0;
    width: 80px;
    font-family:helvetica;
    font-size:14px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  .mail button:hover{
    background:#000;
    transition: 300ms ease-in;
    color:#fff;
  }
  
  .sub-nav{
    position:relative;
    display:block;
    margin:30px 0 20px 0;
  }
  
  .sub-nav ul{
    padding: 0;
    margin:0;
    width:180px;
    list-style:none;
  }
  
  .sub-nav ul li{
    text-decoration: none;
    font-family:helvetica;
    font-size:12px;
    letter-spacing:1px;
    color:#fff;
    line-height:20px;
  }
  
  .sub-nav ul li a:hover{
    color:#000;
    transition: 300ms ease-in;
  }
  
  .social-media{
    margin: 10px 0 20px 0;
  }
  
  svg{
    fill:#fff;
  }
  
  svg:hover{
    fill: #000;
    transition: 300ms ease-in;
  }
  
  .copyright {
    font-size:8px;
    letter-spacing: 0.5px;
    font-family:helvetica;
    text-align: left;
    display:block;
    margin: 0 auto;
    color: #fff;
  }
  
  @media screen and (min-width: 650px) and (max-width: 850px){
    footer{
          padding: 20px 10% 20px 10%;
  }
    svg:hover{
    fill: #000;
    transition: 300ms ease-in;
  }
    
  }
  
  @media screen and (min-width: 851px){
    
      footer{
        //   width 100%;    
          overflow:hidden;
          padding: 50px 10% 20px 10%;
  }
      .mail{
          display:block;
          float:left;
          width:60%;
          margin:0;
          }
    
      .sub-nav{
          display:block;
          float:left;
          margin:0px 0 0px 0;
          width: 40%;
        }
    .social-media{
      float:left;
      width:100%;
      display:block;
    }
    }