

<div class="cont">
  
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1>{{'login' |translate}}</h1>
      <input type="text"
            id="usernamelogin"
             name="username" 
             formControlName="username"
             class="user"
             placeholder="{{'username' |translate}}"/>
           <div *ngIf="validationErrorExists();" class="invalid-feedback d-block" style="color:red;">
            <div *ngIf="hasError('username', 'required')">Username is required</div>
           </div>
      <input type="password" 
            name="password" 
            formControlName="password"
             class="pass"
             placeholder="{{'password' |translate}}"/>
             <div *ngIf="validationErrorExists();" class="invalid-feedback d-block" style="color:red;">
              <div *ngIf="hasError('password', 'required')">Password is required</div>
             </div>
      <button    class="login">{{'login' |translate}}</button>
    </form>
  </div>
  
  <h2> </h2>
  
</div>