

<div class="cont">
  
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1>{{'login' |translate}}</h1>
      <input type="text"
            id="usernamelogin"
             name="username" 
             formControlName="username"
             class="user"
             placeholder="{{'username' |translate}}"/>
             <div
             *ngIf="
               form.get('username').hasError('required') &&
               form.get('username').dirty
             "
             class="invalid-feedback d-block"
           >
             required
           </div>
      <input type="password" 
            name="password" 
            formControlName="password"
             class="pass"
             placeholder="{{'password' |translate}}"/>
             <div
             *ngIf="
               form.get('password').hasError('required') &&
               form.get('password').dirty
             "
             class="invalid-feedback d-block"
           >
             required
           </div>
      <button   [disabled]="!this.form.valid" class="login">{{'login' |translate}}</button>
    </form>
  </div>
  
  <h2> </h2>
  
</div>